<h2>Results of NotSoTinyUrl</h2>

<p>Target URL: <span><%= @url.original_url %></span></p>
<p>Short URL: <span><%= link_to "#{root_url}#{@url.short_url}", redirect_path(@url.short_url), target: "_blank" %></span></p>
<p>Title of website: <%= @url.title%> </p>
<%= link_to 'Shorten another URL', new_url_path, class: "btn btn-dark p-3" %> 
